<!--The content below is only a placeholder and can be replaced.-->
<input id="searchBox" (keyup.enter)="search()" class="" type="search" placeholder="Search..." [value]="input" (input)="input = $event.target.value">
<div class="grid">
  <div class="editor">
    <h1>Editor</h1>
    <input [value]="title" (input)="title = $event.target.value" type="text" class="uk-input" placeholder="Title">
    <input [value]="ep" (input)="ep = $event.target.value" type="number" class="uk-input" placeholder="Episode">
    <input [value]="tags" (input)="tags = $event.target.value" type="text" class="uk-input" placeholder="Tags">
    <input [value]="thumbnail" (input)="thumbnail = $event.target.value" type="text" class="uk-input" placeholder="Thumbnail">
    <input [value]="author" (input)="author = $event.target.value" type="text" class="uk-input" placeholder="Author">
    <input [value]="date" (input)="date = $event.target.value" type="text" class="uk-input" placeholder="Created at">
    <p>Markdown</p>
    <textarea  [value]="md" (input)="md = $event.target.value" class=".uk-textarea"></textarea>
    <br>
    <button *ngIf="!updating" class="uk-button uk-button-default" (click)="post()">Post</button>
    <button *ngIf="updating" class="uk-button uk-button-default" (click)="update()">Update</button>
    <button *ngIf="updating" class="uk-button uk-button-default" (click)="delete()">Delete</button>
    <button class="uk-button uk-button-default" (click)="reset()">Reset</button>
  </div>
  <div class="preview">
    <h1>Preview</h1>
    ID: {{this.id}}
    Title: {{this.title}} <br>
    Ep: {{this.ep}} <br>
    Tags: {{this.tags}} <br>
    Thumbnail: {{this.thumbnail}}<br>
    Author: {{this.author}} <br>
    Created at: {{this.date}} <br>
    <markdown [data]="md"></markdown>
    {{this.doc | json}}
  </div>
</div>
<router-outlet></router-outlet>
